<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Value:</strong>
  <%= @question.value %>
</p>

<%= link_to 'Edit Question', edit_question_path(@question), class: 'btn btn-warning' %>
<br>
<strong>Answers?</strong>
<p>Coming soon!</p>
<%#= render @question.answers %>
 
<strong>Add an answer:</strong>
<%#= render "answers/form" %>
<p>Coming soon!</p>

<%= link_to 'Back', questions_path, class: 'btn btn-default'  %>


  