<h1>Group <%= @group.name %></h1>

<p> <%= @group.description %> </p>
<p> <%= @group.website %></p>
<p>
	<br/>
	<h4><%= link_to 'Edit', edit_group_path(@group) %></h4>
	<br/>
	<h4><%= link_to 'Back', groups_path %></h4>
</p>