<h1><center><%= @album.title %> by <%= @album.user.first_name %></center></h1>
<p><center> Here is where all photos uploaded to <%= @album.title %> will be displayed </center></p>

<p>
	<%= link_to 'Edit Album', edit_user_album_path(@album) %>
	<%= link_to 'Back to Albums', user_albums_path %>
</p>